.user__all
  .user__all__user_sign_up
    = render 'layouts/header_user'

    .contents
      %h2 支払い方法
      .contents__main
        = form_with id: 'new_credit_cards', class: 'new_credit_cards', local: true do |f|
          .contents__main__block
            .field
              = f.label :カード番号
              %span.caution 必須
              = f.text_field :customer_id, placeholder: '1234 5678 1234 5678'
              = image_tag 'icon/visa.svg', class: 'CardLogo'
              = image_tag 'icon/master.svg', class: 'CardLogo'
              = image_tag 'icon/saison.svg', class: 'CardLogo'
              = image_tag 'icon/jcb.svg', class: 'CardLogo'
              = image_tag 'icon/american_express.svg', class: 'CardLogo'
              = image_tag 'icon/dinersclub.svg', class: 'CardLogo'
              = image_tag 'icon/discover.svg', class: 'CardLogo'
            .field
              = f.label :有効期限
              %span.caution 必須
              .Exp__field
                = f.select :exp_month, [['01',1],['02',2],['03',3],['04',4],['05',5],['06',6],['07',7],['08',8],['09',9],['10',10],['11',11],['12',12]],{include_blank: '---'}, class: 'Exp__field--select', name: 'exp_month', id:'exp_month'
                %span 月
                = f.select :exp_year, [['21',2021],['22',2022],['23',2023],['24',2024],['25',2025],['26',2026],['27',2027],['28',2028],['29',2029],['30',2030]], {include_blank: '---'}, class: 'Exp__field--select', name: 'exp_year', id:'exp_year'
                %span 年
            .field
              = f.label :セキュリティーコード
              %span.caution 必須
              = f.text_field :card_id, placeholder: 'カード背面４桁もしくは３桁の番号', autocomplete: 'off'
              .Text__link--right
                =link_to '#' do
                  = icon('fas', 'question-circle')
                  カード裏面の番号とは？
            = f.submit '登録する', class: 'sign_up_btn'
            =link_to 'もどる', credit_cards_path, class: 'Text__link'
    = render 'layouts/footer_user'
