.user__all
  .user__all__user_sign_up
    = render 'layouts/header_user'
    .contents
      %h2 支払い方法
      #Card__new.contents__main.new_credit_cards
        .contents__main__block
          .field
            カード番号
            %span.caution 必須
            #number-form.payjs-outer
            = image_tag 'icon/visa.svg', class: 'CardLogo'
            = image_tag 'icon/master.svg', class: 'CardLogo'
            = image_tag 'icon/saison.svg', class: 'CardLogo'
            = image_tag 'icon/jcb.svg', class: 'CardLogo'
            = image_tag 'icon/american_express.svg', class: 'CardLogo'
            = image_tag 'icon/dinersclub.svg', class: 'CardLogo'
            = image_tag 'icon/discover.svg', class: 'CardLogo'
          .field
            有効期限
            %span.caution 必須
            #expiry-form.payjs-outer
          .field
            セキュリティーコード
            %span.caution 必須
            #cvc-form.payjs-outer
            .Text__link--right
              =link_to '#' do
                = icon('fas', 'question-circle')
                カード裏面の番号とは？
          .form-group
            #err_message
            = form_with url: pay_credit_cards_path, method: :post,id: "card_form" do |f|
              #card_token
              = f.submit "登録する", class:"Btn", id: "info_submit"
          = link_to '戻る', 'javascript:history.back()', class: 'Text__link'
    = render 'layouts/footer_user'
