%ul.InfoLists
  %li.InfoLists__item
    = link_to '#' do
      %figure
        = image_tag('logo/logo-only.png', alt:'FURIMA')
      .InfoLists__item--body
        .InfoLists__item--text
          1/31まで!!《101円以上のお会計でP100GET》コンビニで使えるクーポン配信中！必要なものをフルペイでおトクに♪
        %time
          = icon('far', 'clock')
          %span 12 時間前
        = icon('fas', 'chevron-right', class: "Nav__icon")
  %li.InfoLists__item
    = link_to '#' do
      %figure
        = image_tag('icon/member_photo_noimage_thumb.png', alt:'Name')
      .InfoLists__item--body
        .InfoLists__item--text
          Tarouさんがあなたを評価しました。これで取引完了です。
        %time
          = icon('far', 'clock')
          %span 21 時間前
        = icon('fas', 'chevron-right', class: "Nav__icon")
  %li.InfoLists__item
    = link_to '#' do
      %figure
        = image_tag('logo/logo-only.png', alt:'FURIMA')
      .InfoLists__item--body
        .InfoLists__item--text
          【あと3日で終了】招待してP1000！出品して売れても最大P1000もらえる！
        %time
          = icon('far', 'clock', class: "")
          %span 2 日前
        = icon('fas', 'chevron-right', class: "Nav__icon")
  %li.InfoLists__item
    = link_to '#' do
      %figure
        = image_tag('icon/member_photo_noimage_thumb.png', alt:'Name')
      .InfoLists__item--body
        .InfoLists__item--text
          Kagawaさんがあなたを評価しました。これで取引完了です。
        %time
          = icon('far', 'clock', class: "")
          %span 5 日前
        = icon('fas', 'chevron-right', class: "Nav__icon")
  %li.InfoLists--link
    = link_to '#' do
      = '一覧を見る'
