.SideNav
  %nav
    %ul.SideNav__lists
      = render partial: 'users/side_nav', locals: {path: mypage_path, text: 'マイページ'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'お知らせ'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'やることリスト'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'いいね！一覧'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '出品する'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '出品した商品 - 出品中'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '出品した商品 - 取引中'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '出品した商品 - 売却済み'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '購入した商品 - 取引中'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '購入した商品 - 過去の取引'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'ニュース一覧'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '評価一覧'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'ガイド'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'お問い合わせ'}
    %h3.SideNav__title フリペイ
    %ul.SideNav__lists
      = render partial: 'users/side_nav', locals: {path: '#', text: '売上・振込申請'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'ポイント'}
    %h3.SideNav__title 設定
    %ul.SideNav__lists
      = render partial: 'users/side_nav', locals: {path: '#', text: 'プロフィール'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '発送元・お届け先住所変更'}
      = render partial: 'users/side_nav', locals: {path: credit_cards_path, text: '支払い方法'}
      = render partial: 'users/side_nav', locals: {path: '#', text: 'メール/パスワード'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '本人情報'}
      = render partial: 'users/side_nav', locals: {path: '#', text: '電話番号の確認'}
      %li.NavLists__item
        = link_to destroy_user_session_path, method: :delete do
          = 'ログアウト'
          = icon('fas', 'chevron-right', class: "Nav__icon")
