= render 'layouts/header'

%body
  .Body
    .Contents
      .Contents__Inner
        .Item
          %h.Item__Name ご飯
          .Item__Images
            .Item__Images__Inner
              .Item__Image
                = image_tag 'pict2/ご飯.png', alt:'Item'
          .Item__Subimages
            .Item__Subimage
              = image_tag 'pict2/梅干し.jpeg', alt:'Item'
          .Item__Price
            %span.Item__Price__Price ¥5,000
            .Item__PriceTax
              %span (税込)
              %span 送料込み
          .Item__Status
            .Item__Status__Status
              売り切れました！
          .Item__Title
            ごはん！！
          .Item__Tables
            %table.Item__Table
              %tbody.Item__TableBody
                %tr
                  %th 出品者
                  %td お腹がへった
                %tr
                  %th カテゴリー
                  %td 
                %tr
                  %th サイズ
                  %td
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品の状態
                  %td
                %tr
                  %th 配送料の負担
                  %td
                %tr
                  %th 配送の方法
                  %td
                %tr
                  %th 発送元の地域
                  %td
                %tr
                  %th 発送日の目安
                  %td
          .OptionArea
            %ul
              %a
                %li.Favolite
                  = icon('fas', 'star',)
                  お気に入り
                  %span.Counts 5
            %ul
              %a
                %li.Report
                  = icon('fa', 'flag',class: "StarIcon")
                  不適切な商品の通報
              
        .Comment
          %ul.CommentForm
          = form_with(url: "#", local: true, method: :post, class: "Form") do |f|
            %textarea
            %p.NoticeMsg 
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
            %button{type: "submit", class: "FormSendBtn"}
              %i.fa.fa-comment
              コメントする
        .RelatedItemsUserSection
          %a さばさんのその他の出品
          .RelatedItemsUser
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)
        .RelatedItemsUserSection
          %a その他の関連商品
          .RelatedItemsUser
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)
            .RelatedItemUser
              %a.Item__Wrapper(href="#")
                .ItemImage
                  = image_tag 'pict2/mac.jpg', alt:'Item'
                .ItemText
                  %h3.ItemName うどん
                  .ItemPrice
                    %ul
                      %li 5,000円
                      %li
                        = icon('fas', 'star',class: "StarIcon")
                        4
                    %p (税込)

= render 'layouts/footer'
